@using Microsoft.AspNetCore.Components.Forms
@inject ProjectsDBContext db
@inject FileStorageService FileStorageService


<div class="my-2 p-2">
    <div class="d-flex justify-content-between align-items-center">

        <div class="d-flex gap-2 align-items-center">
            <div class="bg-info p-2 rounded">
                <Icon Name="IconName.Upload" class="text-white" />
            </div>
            <h4 class="mb-0">Cargar Nuevo Archivo</h4>
        </div>

        <div class="d-flex gap-2 w-50">
            <InputFile OnChange="LoadFile" class="form-control" />

            <button class="btn btn-outline-info"
                    @onclick="AddFile"
                    disabled="@(!canUpload || isLoading)">
                @if (isLoading)
                {
                    <span class="spinner-border spinner-border-sm me-1" />
                    <span>Loading...</span>
                }
                else
                {
                    <span>Subir</span>
                }
            </button>
        </div>

    </div>
</div>

<label class="text-info p-1 text-end d-block">@uploadMessage</label>


@code {
    [Parameter]
    public int id { get; set; }
    // Variables de estado del componente
    private IBrowserFile _File;             // Archivo seleccionado por el usuario
    private byte[] fileContent;             // Contenido del archivo en bytes
    private string uploadMessage;           // Mensaje de estado de la carga
    private bool canUpload = false;         // Indica si se puede cargar el archivo
    private bool isLoading = false;         // Indica si se está procesando la carga
    int MaxSize = (13 * 1024 * 1024);       // Tamaño máximo permitido para el archivo (13MB)

    //[Parameter]
    //  public EventCallback OnUpdated { get; set; }



    // Método para manejar la carga del archivo
    private async Task AddFile()
    {
        if (canUpload && _File != null)
        {
            try
            {

                // Crear modelo de archivo para enviar al servicio
                var fileModel = new FileModel
                    {
                        FileName = _File.Name,           // Nombre del archivo
                        Size = new byte(),           // Tamaño del archivo en bytes
                        FilePath= "",
                        ContentType = _File.ContentType, // Tipo MIME del archivo
                        Content = fileContent,           // Contenido del archivo en bytes
                        Creation = DateTime.Now
                       , ProjectId = id
                    };

                isLoading = true;  // Inicia el indicador de carga

                db.Files.Add(fileModel);
                await db.SaveChangesAsync();
				await FileStorageService.GenerateFilesDirectoryAsync(id);
                fileModel.FilePath = await FileStorageService.UploadFilesAsync(id,  _File);
                db.Files.Update(fileModel); 
				await db.SaveChangesAsync();



                // Actualizar mensaje de estado
                uploadMessage = $"Archivo '{fileModel.FileName}' Cargado!";

                // Limpiar variables después de la carga
                _File = null;
                fileContent = null;
                canUpload = false;
               // OnUpdated.InvokeAsync();
            }
            catch (Exception ex)
            {
                // Manejar errores durante la carga del archivo
                uploadMessage = $"Error uploading file: {ex.Message}";
            }
            finally
            {
                isLoading = false; // Finaliza el indicador de carga
            }
        }
        else
        {
            // Mensaje cuando no se ha seleccionado ningún archivo válido
            uploadMessage = "No file selected or file is invalid.";
        }
    }

    // Método para manejar el cambio de archivo seleccionado
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        _File = e.File; // Obtener el archivo seleccionado por el usuario

        // Verificar si el archivo es un PDF y si su tamaño es válido
        if ( _File.Size <= MaxSize)
        {
            try
            {
                // Leer el contenido del archivo en un MemoryStream
                var ms = new MemoryStream();
                await _File.OpenReadStream(MaxSize).CopyToAsync(ms);
                fileContent = ms.ToArray(); // Convertir el contenido a bytes
            }
            catch (Exception)
            {
                // Manejar errores al cargar el archivo
                uploadMessage = "Error cargando el archivo";
                canUpload = false;
                return;
            }

            // Actualizar estado para permitir la carga del archivo
            canUpload = true;
            uploadMessage = $"Archivo: {_File.Name}, Tamaño: {_File.Size} bytes, Tipo: {_File.ContentType}";
        }
        else
        {
            // Mensaje cuando se selecciona un archivo no válido
            uploadMessage = "Archivo invalido, excede la capacidad. Limite de carga de 13MB.Invalid file.";
            canUpload = false;
        }
    }
}
