

    <h6>
        Monto Facturado: @Bills.Sum(e => e.Amount).ToString("N2")
    </h6>

<table class="table">
    <thead>
        <tr>
            <td>
                Numero
            </td>
            <td>
                Fecha
            </td>
            <td>
                Autor
            </td>
            <td>
                Monto
            </td>
            <td>
                Nota
            </td>
            <td>
                Acciones
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Bills)
        {
            <BillRowComponent item="item" />
        }
    </tbody>
</table>
@code {

    [Parameter]
    public List<Bill> Bills { get; set; }


    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
    }
}
