@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@inject UserManager<UserIdentityEx> userManager;

<EditForm Model="changePasswordModel" OnValidSubmit="HandleChangePassword">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <h5 class="fw-bold text-center mb-4">Cambiar Contraseña</h5>

    <div class="row g-3 justify-content-center">
        <div class="col-md-6">
            <div class="form-floating">
                <InputText id="NewPassword"
                           type="password"
                           class="form-control shadow-sm"
                           @bind-Value="changePasswordModel.NewPassword" />
                <label for="NewPassword">Nueva Contraseña</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating">
                <InputText id="ConfirmPassword"
                           type="password"
                           class="form-control shadow-sm"
                           @bind-Value="changePasswordModel.ConfirmPassword" />
                <label for="ConfirmPassword">Confirmar Contraseña</label>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <button type="submit" class="btn btn-outline-primary px-4">
            Cambiar Contraseña
        </button>
    </div>
</EditForm>

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success mt-3 text-center">
        @successMessage
    </div>
}

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger mt-3 text-center">
        @errorMessage
    </div>
}


@code {
    [Parameter]
    public UserIdentityEx user { get; set; }

    private ChangePasswordModel changePasswordModel = new ChangePasswordModel();
    private string? successMessage;
    private string? errorMessage;

    private async Task HandleChangePassword()
    {
        try
        {
         
            await userManager.RemovePasswordAsync(user);
            var result =  await userManager.AddPasswordAsync(user, changePasswordModel.NewPassword);
  
            if (result.Succeeded)
            {
                successMessage = "La contraseña ha sido cambiada exitosamente.";
                errorMessage = null;
            }
            else
            {
                errorMessage = string.Join(", ", result.Errors.Select(e => e.Description));
                successMessage = null;
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Se produjo un error al cambiar la contraseña: {ex.Message}";
            successMessage = null;
        }
    }

    public class ChangePasswordModel
    {
 
        [Required]
        [DataType(DataType.Password)]
        [StringLength(100, ErrorMessage = "La {0} debe tener al menos {2} y un máximo de {1} caracteres.", MinimumLength = 6)]
        public string NewPassword { get; set; }

        [DataType(DataType.Password)]
        [Compare("NewPassword", ErrorMessage = "Las contraseñas no coinciden.")]
        public string ConfirmPassword { get; set; }
    }
}
