@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@inject UserManager<UserIdentityEx> userManager;

<EditForm Model="changePasswordModel" OnValidSubmit="HandleChangePassword">
    <DataAnnotationsValidator />
    <ValidationSummary />

   

    <div class="mb-3">
        <label for="newPassword" class="form-label">Nueva Contraseña</label>
        <InputText id="newPassword" class="form-control" @bind-Value="changePasswordModel.NewPassword" type="password" />
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmar Nueva Contraseña</label>
        <InputText id="confirmPassword" class="form-control" @bind-Value="changePasswordModel.ConfirmPassword" type="password" />
    </div>

    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
</EditForm>

@if (successMessage != null)
{
    <div class="alert alert-success mt-3">@successMessage</div>
}

@if (errorMessage != null)
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}

@code {
    [Parameter]
    public UserIdentityEx user { get; set; }

    private ChangePasswordModel changePasswordModel = new ChangePasswordModel();
    private string? successMessage;
    private string? errorMessage;

    private async Task HandleChangePassword()
    {
        try
        {
         
            await userManager.RemovePasswordAsync(user);
            var result =  await userManager.AddPasswordAsync(user, changePasswordModel.NewPassword);
  
            if (result.Succeeded)
            {
                successMessage = "La contraseña ha sido cambiada exitosamente.";
                errorMessage = null;
            }
            else
            {
                errorMessage = string.Join(", ", result.Errors.Select(e => e.Description));
                successMessage = null;
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Se produjo un error al cambiar la contraseña: {ex.Message}";
            successMessage = null;
        }
    }

    public class ChangePasswordModel
    {
 
        [Required]
        [DataType(DataType.Password)]
        [StringLength(100, ErrorMessage = "La {0} debe tener al menos {2} y un máximo de {1} caracteres.", MinimumLength = 6)]
        public string NewPassword { get; set; }

        [DataType(DataType.Password)]
        [Compare("NewPassword", ErrorMessage = "Las contraseñas no coinciden.")]
        public string ConfirmPassword { get; set; }
    }
}
