@using System.Security.Claims
@inject IDbContextFactory<ProjectsDBContext> DbContextFactory
@inject ApplicationDbContext dbIdentity;
@inject AuthenticationStateProvider asp;

<EditForm Model="commentary" class="d-flex flex-column gap-1 my-1">
    <div >
        <InputTextArea @bind-Value="commentary.CommentaryText" class="form-control" />
    </div>
    <button class="btn w-100 btn-sm btn-outline-success" @onclick="Add">Agregar</button>
</EditForm>
@code {
    [Parameter]
    public int ProjectId { get; set; }
    [Parameter]
    public EventCallback OnAdded { get; set; }

    ProjectsDBContext db;

    private Commentary commentary;

    protected override async Task OnInitializedAsync()
    {
        db = DbContextFactory.CreateDbContext();
        commentary = new();

        commentary.ProjectId = ProjectId;
        base.OnInitializedAsync();   
    }

    private async Task Add()
    {
        GetAuthor();

        commentary.CreationDate = DateTime.Now;
        commentary.ProjectId = ProjectId;
        db.Comments.Add(commentary);
        await db.SaveChangesAsync();
        GenerateComment();
        OnAdded.InvokeAsync();
        commentary = new();

    }

    private async Task GenerateComment(){
        var task = (from p in db.Projects
                    where p.ProjectId == ProjectId
                    select p.TaskNumber).FirstOrDefault();
        var taskValid = int.TryParse(task, out int taskNumber);
        if (taskValid)
        {
            Bitrix24ClientServices bitrix24ClientServices = new Bitrix24ClientServices();
            await bitrix24ClientServices.SendTaskCommentAsync(taskNumber, commentary.CommentaryText,186);
        }
    }

    private async Task GetAuthor()
    {
        var s = asp.GetAuthenticationStateAsync();
        var user = s.Result.User;

        if (user.Identity.IsAuthenticated)
        {
            var u = user.FindFirst(ClaimTypes.Name)?.Value;
            var d = dbIdentity.Users.FirstOrDefault(e => e.UserName == u);
            commentary.Author = d.Name + "" + d.LastName;
          
            // Asigna el ID del autor basado en el usuario autenticado

        }
        else
        {
            commentary.Author = "Usuario no autenticado";
        }
    }

}
