@page "/projectslist"
@inject IDbContextFactory<ProjectsDBContext> DbContextFactory

<h3>Lista de Proyectos</h3>

@if (Projects == null)
{
    <p>Cargando...</p>
}
else
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th>N</th>
                <th>Titulo</th>
                <th>Cliente</th>
                <th>Estado</th>
                <th>OC</th>
                <th>Compañia</th>
                <th>Tipo</th>
                <th>Creación</th>
                <th>Monto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Projects)
            {

                <RowTableComponent ProjectObj="@d" />
            }
        </tbody>
    </table>


    <Pagination ActivePageNumber="@currentPageNumber"
                TotalPages="@totalPages"
                PageChanged="OnPageChangedAsync" />

    <p>Página actual: @currentPageNumber de @totalPages</p>
}

@code {
    private List<Project> Projects = new();
    private int currentPageNumber = 1;
    private int pageSize = 50;   // cantidad de registros por página
    private int totalPages = 1;

    protected override async Task OnInitializedAsync()
    {
        await LoadPageAsync();
    }

    private async Task LoadPageAsync()
    {
        using var db = DbContextFactory.CreateDbContext();

        var totalRecords = await db.Projects.CountAsync();
        totalPages = (int)Math.Ceiling(totalRecords / (double)pageSize);

        Projects = await db.Projects
                    .AsNoTracking()
                    .Include(p => p.State)
                    .Include(p => p.Customer)
                    .Include(p => p.Type)
                    .Include(p => p.Company)
                    .OrderByDescending(p => p.ProjectId) // importante: ordenamiento para consistencia
                    .Skip((currentPageNumber - 1) * pageSize)
                    .Take(pageSize)
                    .ToListAsync();
    }

    private async Task OnPageChangedAsync(int newPageNumber)
    {
        currentPageNumber = newPageNumber;
        await LoadPageAsync();
    }
}
