@using ProjectsMecsaSPA.Utilities
@inject IDbContextFactory<ProjectsDBContext> DbContextFactory
@inject IJSRuntime JS


<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />

<!-- Contenedor para los filtros de búsqueda -->
<div class="row mb-3">
    <div class="col-md-2 mb-2">
        <input type="text" @bind="searchName" placeholder="Buscar por nombre" class="form-control" />
    </div>
    <div class="col-md-2 mb-2">
        <input type="number" @bind="searchProjectId" placeholder="Buscar por número de proyecto" class="form-control" />
    </div>
    <div class="col-md-2 mb-2">
        <input type="month" @bind="searchMonth" class="form-control" />
    </div>
    <div class="col-md-2 d-flex align-items-end mb-2">
        <button @onclick="ApplyFiltersAsync" class="btn btn-primary w-100">Buscar</button>
    </div>
    <div class="col-md-2 d-flex align-items-end mb-2">
        <button @onclick="DownloadReportAsync" class="btn btn-outline-warning w-100">Descargar</button>
    </div>
    <div class="col-md-2 d-flex align-items-end mb-2">
        <button @onclick="ClearFilters" class="btn btn-secondary w-100">Limpiar</button>
    </div>
</div>

<!-- Contenedor para la tabla de proyectos -->
<div>
    @if (Searching)
    {
        <div class="d-flex justify-content-center">
            <Spinner Type="SpinnerType.Border" />
        </div>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>N</th>
                    <th>Título</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>OC</th>
                    <th>Tipo</th>
                    <th>Creación</th>
                    <th>Monto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in projects)
                {
                    <RowTableComponent ProjectObj="project" />
                }
            </tbody>
        </table>
    }
  
</div>

@code {
    private bool Searching = false;
    private List<Project> projects = new();
    private string searchName = string.Empty;
    private int searchProjectId;
    private DateTime searchMonth = DateTime.MinValue;

    private string? message;
    List<ToastMessage> messages = new List<ToastMessage>();


    // Cargar los proyectos iniciales
    protected override async Task OnInitializedAsync()
    {
        await LoadProjectsAsync();
    }

    // Aplica los filtros y recarga los proyectos
    private async Task ApplyFiltersAsync()
    {
        await LoadProjectsAsync();
    }

    // Limpia los filtros de búsqueda y recarga la lista de proyectos
    private async Task ClearFilters()
    {
        searchName = string.Empty;
        searchProjectId = 0;
        searchMonth = DateTime.MinValue;

        await LoadProjectsAsync();
    }

    // Carga los proyectos según los filtros aplicados
    private async Task LoadProjectsAsync()
    {
        Searching = true;
        bool canSearch = false;
        using (var db = await DbContextFactory.CreateDbContextAsync())
        {
            var query = db.Projects.AsQueryable();

            if (!string.IsNullOrWhiteSpace(searchName))
            {
                query = query.Where(p => p.Title.Contains(searchName));
                canSearch = true;
            }

            if (searchProjectId > 0)
            {
                query = query.Where(p => p.ProjectId == searchProjectId);
                canSearch = true;
            }

            if (searchMonth != default)
            {
                var startDate = new DateTime(searchMonth.Year, searchMonth.Month, 1);
                var endDate = startDate.AddMonths(1);
                query = query.Where(p => p.CreationDate >= startDate && p.CreationDate < endDate);
                canSearch = true;
            }
            if (canSearch)
            {

                projects = await query
                .AsNoTracking()
                    .Include(p => p.State)
                    .Include(p => p.Customer)
                    .Include(p => p.Type)
                    .OrderByDescending(p => p.ProjectId)
                    .ToListAsync();
                if (projects.Count == 0)
                {
                    messages.Add(new()
                        {
                            Message = "No hay resultados",
                            Type = ToastType.Danger
                        });
                }

            }
          

            // Forzar una actualización de la interfaz
        }
        Searching = false;

        await InvokeAsync(StateHasChanged);
    }

    // Genera y descarga el reporte
    private async Task DownloadReportAsync()
    {
        messages.Add(new()
            {
                Message = "Generando Documento",
                Type = ToastType.Danger
            });
        var data = await XmlsGenerate.GenerateFileProjects(projects);
        var pdfBase64 = Convert.ToBase64String(data);

        // Invocar una función JavaScript para iniciar la descarga del PDF
        await JS.InvokeVoidAsync("downloadPDF", pdfBase64, $"Proyectos_{DateTime.Now:yyyyMMdd_HHmm}.xlsx");
    }
}
