@page "/schedule"
@using ProjectsMecsaSPA.Components.Shared.Calendar

@inject ProjectsDBContext db


<h3>Cronograma</h3>


<Calendar Schedules="Schedules" />





@code {

    private List<Schedule> Schedules = new();

    protected override async Task OnInitializedAsync()
    {
        Schedules = await db.Schedules
                            .Where(e => e.Start.Year == DateTime.Now.Year)
                            .Include(e => e.SchEmpls)
                                .ThenInclude(se => se.Employee)
                            .Include(e => e.Project)
                            .Include(e=> e.SchDevs)
                                .ThenInclude(e => e.Device)
                            .ToListAsync();
    }



}
