@page "/schedule"
@using ProjectsMecsaSPA.Components.Shared.Calendar

@inject ProjectsDBContext db


<h3>Cronograma</h3>


<Calendar Schedules="Schedules" />





@code {

    private List<Schedule> Schedules = new();

    protected override async Task OnInitializedAsync()
    {
        Schedules = await db.Schedules
    
            .ToListAsync();
    }
}
