@page "/users"


<AuthorizeView>
    <Authorized>
        <h3>Usuarios del Sistema</h3>
        <UsersTableComponent />

    </Authorized>
    <NotAuthorized>
        <ErrorViewComponent></ErrorViewComponent>
    </NotAuthorized>
</AuthorizeView>




@code {

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();   
    }

}
