@inject IDbContextFactory<ProjectsDBContext> DbContextFactory


<EditForm Model="customer" OnValidSubmit="Add">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <!-- ===================================== -->
    <!-- INFORMACIÓN DEL CLIENTE -->
    <!-- ===================================== -->
    <h5 class="text-center fw-bold mb-4">Información del Cliente</h5>

    <div class="p-2">
        <div class="form-group mb-3">
            <div class="form-floating">
                <InputText id="Name"
                           class="form-control shadow-sm"
                           @bind-Value="customer.Name" />
                <label for="Name">Nombre</label>
            </div>
            <ValidationMessage For="@(() => customer.Name)" class="text-danger small" />
        </div>

        <div class="form-group mb-3">
            <div class="form-floating">
                <InputNumber id="DNI"
                             class="form-control shadow-sm"
                             @bind-Value="customer.DNI" />
                <label for="DNI">Cédula</label>
            </div>
            <ValidationMessage For="@(() => customer.DNI)" class="text-danger small" />
        </div>

        <div class="form-group mb-4">
            <div class="form-floating">
                <InputSelect id="Type"
                             class="form-select shadow-sm"
                             @bind-Value="customer.Type">
                    <option value="">Seleccione</option>
                    <option value="Publico">Público</option>
                    <option value="Privado">Privado</option>
                </InputSelect>
                <label for="Type">Tipo de Cliente</label>
            </div>
            <ValidationMessage For="@(() => customer.Type)" class="text-danger small" />
        </div>
    </div>

    <!-- ===================================== -->
    <!-- ACCIONES -->
    <!-- ===================================== -->
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-outline-success px-5">
            Agregar Cliente
        </button>
    </div>
</EditForm>


@code {
    [Parameter]
    public EventCallback OnAdded { get; set; }

    private Customer customer = new();

    private async Task Add()
    {
        if (customer != null)
        {
            ProjectsDBContext db = DbContextFactory.CreateDbContext();
            db.Customers.Add(customer);
            await db.SaveChangesAsync();
            // Llama al EventCallback si hay algún componente padre que necesita saber que se ha añadido un cliente
            await OnAdded.InvokeAsync();
            // Opcionalmente, puedes redirigir al usuario o limpiar el formulario
            customer = new Customer(); // Limpiar el formulario
        }
    }
}
