@inject IDbContextFactory<ProjectsDBContext> DbContextFactory

<div class="card p-2 shadow-sm d-flex my-2 flex-row align-items-center gap-2">
    <h6 class="mb-0 flex-grow-1">@Company.CompanyName</h6>

    @if (CanEdit)
    {
        <EditForm Model="@Company" OnValidSubmit="EditCompany" class="d-flex align-items-center gap-2">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputText class="form-control form-control-sm" @bind-Value="Company.CompanyName" style="width: 200px;" />

            <button type="submit" class="btn btn-success btn-sm">✔</button>
            <button type="button" class="btn btn-secondary btn-sm" @onclick="()=> CanEdit = false">✖</button>
        </EditForm>
    }
    else
    {
        <button class="btn btn-primary btn-sm" @onclick="()=> CanEdit = true">✎</button>
    }
</div>


@code {
    [Parameter]
    public Company Company { get; set; }

    ProjectsDBContext db;

    bool CanEdit { get; set; } = false;

	protected override async Task OnInitializedAsync()
	{
      db=  DbContextFactory.CreateDbContext();
		
	}

    async Task EditCompany()
    {
        if (Company != null && !string.IsNullOrEmpty(Company.CompanyName))
        {
            db.Company.Update(Company);
            await db.SaveChangesAsync();
            CanEdit = false;
        }
    }
}