@inject ProjectsDBContext db


<div>
	<h5>Agregar Compania</h5>
	<div class="d-flex flex-row gap-2">
		<EditForm Model="@companyNew">
			<div class="form-floating">
				<InputText class="form-control" id="Name" @bind-Value="companyNew.CompanyName" />
				<label for="Name">Nombre</label>
			</div>
		</EditForm>
		<button class="btn btn-primary" @onclick="AddCompanyAsync">Agregar</button>
	</div>
</div>

@foreach (var i in companies)
{
	<CompanyData Company="@i" />
}

@code {
	List<Company> companies = new List<Company>();

	private Company companyNew { get; set; }	

	protected override async Task OnInitializedAsync()
	{
		companyNew = new Company();	
		companies = await db.Company.AsNoTracking().ToListAsync();
	}

	async Task AddCompanyAsync()
	{
		if(!string.IsNullOrEmpty(companyNew.CompanyName))
		{
			db.Company.Add(companyNew);
			db.SaveChanges();
			companies.Add(companyNew);
			companyNew = new Company();
			StateHasChanged();
		}
	}
}
