@page "/settings"


<h2>Configuracion</h2>


<Tabs EnableFadeEffect="true">
	<Tab Title="Usuarios" Active="true">
		<Content>
			<UsersTableComponent />
		</Content>
	</Tab>
	<Tab Title="Companias" Active="true">
		<Content>
			<CompanyList/>	
		</Content>
	</Tab>
	<Tab Title="Tipos de Servicios" >
		<Content>
			<ServiceTypeList />
		</Content>
	</Tab>
	<Tab Title="Servicios y Base de Datos" >
		<Content>
			<AppSettingsConfig />
		</Content>
	</Tab>
</Tabs>

@code {

}
