@page "/settings"


<h2>Configuracion</h2>


<Tabs EnableFadeEffect="true">
	<Tab Title="Usuarios" Active="true">
		<Content>
			<UsersTableComponent />
		</Content>
	</Tab>
	<Tab Title="Companias" Active="true">
		<Content>
		</Content>
	</Tab>
</Tabs>

@code {

}
