@inherits LayoutComponentBase

<PageTitle>Proyectos</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a class="nav-link text-muted"
               href="https://www.stevengazo.co.cr/projectview/5LGuIzdK6HrWkgdLVZ6S5H"
               target="_blank"
               rel="noopener noreferrer">
                Acerca
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
