<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyectos <Icon Name="IconName.Lightning"></Icon></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
      <!-- Kanban -->
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="" Match="NavLinkMatch.All">
                <Icon Name="IconName.Kanban" class="text-white mx-1"></Icon> Kanban
            </NavLink>
        </div>
        <!-- Cronograma -->
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="cronograma">
                <Icon Name="IconName.People" class="text-white mx-1"></Icon> Cronograma
            </NavLink>
        </div>

        <!-- Proyectos -->
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="projects">
                <Icon Name="IconName.Activity" class="text-white mx-1"></Icon> Proyectos
            </NavLink>
        </div>
        <!-- Ventas Directas -->
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="direct-sales">
                <Icon Name="IconName.Activity" class="text-white mx-1"></Icon> Ventas Directas
            </NavLink>
        </div>
        <!-- Facturas -->
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="billslist">
                <Icon Name="IconName.CurrencyDollar" class="text-white mx-1"></Icon> Facturas
            </NavLink>
        </div>
        <!-- Clientes -->
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="customers">
                <Icon Name="IconName.People" class="text-white mx-1"></Icon> Clientes
            </NavLink>
        </div>
        <!-- Estadisticas -->
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="chartsprojects">
                <Icon Name="IconName.BarChartLineFill" class="text-white mx-1"></Icon> Estadísticas
            </NavLink>
        </div>
        <!-- Configuración -->
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="settings">
                <Icon Name="IconName.Tools" class="text-white mx-1"></Icon> Configuración
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
