<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyectos <Icon Name="IconName.Lightning"></Icon></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="" Match="NavLinkMatch.All">
                <Icon Name="IconName.Kanban" class="text-white mx-1"></Icon> Kanban
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="customers">
                <Icon Name="IconName.People" class="text-white mx-1"></Icon> Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="projects">
                <Icon Name="IconName.Activity" class="text-white mx-1"></Icon> Proyectos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="billslist">
                <Icon Name="IconName.CurrencyDollar" class="text-white mx-1"></Icon> Facturas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="chartsprojects">
                <Icon Name="IconName.BarChartLineFill" class="text-white mx-1"></Icon> Estadisticas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="offers">
                <Icon Name="IconName.FileCheck" class="text-white mx-1"></Icon> Ofertas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="users">
                <Icon Name="IconName.People" class="text-white mx-1"></Icon> Usuarios
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
