@page "/chartsprojects"

<AuthorizeView>
    <Authorized>
        <Tabs EnableFadeEffect="true">
            <Tab Title="Proyectos" Active="true">
                <Content>
                    <div class="p-1">
                        <div class="container mt-4">
                            <div class="row ">
                                <!-- Primer componente en una columna de 12 espacios (total de la fila) -->
                                <div class="col-md-6 mb-4  border rounded p-3">
                                    <ChartCountByStateComponent />
                                </div>
                                <!-- Tercer componente en una columna de 6 espacios (mitad de la fila) -->
                                <div class="col-md-6 mb-4 border rounded p-3">
                                    <ProjectsMecsaSPA.Components.Chart.Projects.ChartLineAmountInYear/>
                                </div>

                            </div>
                            <div class="row ">

                                <!-- Segundo componente en una columna de 6 espacios (mitad de la fila) -->
                                <div class="col-md-6 mb-4 border rounded p-3">
                                    <ChartAmountByState />
                                </div>

                                <!-- Tercer componente en una columna de 6 espacios (mitad de la fila) -->
                                <div class="col-md-6 mb-4  border rounded p-3">
                                    <ChartCountBySeller />
                                </div>

                            </div>
                        </div>
                    </div>

                </Content>
            </Tab>
            <Tab Title="Ofertas">
                <Content>
                    <div class="p-1">
                        <div class="container mt-4">
                            <div class="row ">
                                <!-- Primer componente en una columna de 12 espacios (total de la fila) -->
                                <div class="col-md-6 mb-4  border rounded p-3">
                                    <h4>
                                        Estadísticas de Ofertas
                                    </h4>
                                    <ChartOfferByContactTypeComponent />
                                </div>
                                <!-- Tercer componente en una columna de 6 espacios (mitad de la fila) -->
                                <div class="col-md-6 mb-4 border rounded p-3">
                                    
                                </div>

                            </div>
                            <div class="row ">

                                <!-- Segundo componente en una columna de 6 espacios (mitad de la fila) -->
                                <div class="col-md-6 mb-4 border rounded p-3">
                                    
                                </div>

                                <!-- Tercer componente en una columna de 6 espacios (mitad de la fila) -->
                                <div class="col-md-6 mb-4  border rounded p-3">
                                    
                                </div>

                            </div>
                        </div>
                    </div>



                    
                </Content>
            </Tab>
        </Tabs>

    </Authorized>
    <NotAuthorized>
        <ErrorViewComponent />
    </NotAuthorized>
</AuthorizeView>

