@page "/chartsprojects"

<AuthorizeView>
    <Authorized>
        <Tabs EnableFadeEffect="true">
            <Tab Title="Proyectos" Active="true">
                <Content>
                    <div class="m-1">
                        <div class="container gap-3">
                            <div class="row mb-3">
                                <div class="col border p-2">
                                    <ChartLineCountProjectsComponent />
                                </div>
                            </div>
                      
                            <div class="row mb-3">
                                <div class="col border  m-1 p-2">

                                    <ChartLineAmountInYear />
                                </div>
                                <div class="col border  m-1 p-2">
                                   <ChartLineAVGProjectsComponent />
                                </div>
                            </div>
                           <div class="row mb-3">
                                <div class="col border  m-1 p-2">
                                    <ChartCountByStateComponent />
                                </div>
                                <div class="col border  m-1 p-2">
                                    <ChartAmountByState />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col border m-1 p-2">
                                    <ChartProjectsCountBySeller />
                                </div>
                                <div class="col border  m-1 p-2">
                                    <ChartAmountBySellerComponent />
                                </div>
                            </div>
                        </div>
                    </div>
                </Content>
            </Tab>
            <Tab Title="Ofertas">
                <Content>
                    <div class="m-1">
                        <div class="container gap-3">
                            <div class="row mb-3">
                                <div class="col border p-2">
                                    <ChartQuantityByMontComponent />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col border  m-1 p-2">
                                    <ChartOfferByContactTypeComponent />
                                </div>
                                <div class="col border  m-1 p-2">
                                    <ChartOfferByTypeContactComponent />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col border m-1 p-2">
                                    <ChartOfferByTypeDDCEComponent />
                                </div>
                                <div class="col border  m-1 p-2">
                                    <ChartOfferByTypeLightninStrikeComponent />
                                </div>
                            </div>
                        </div>
                    </div>
                </Content>
            </Tab>
        </Tabs>
    </Authorized>
    <NotAuthorized>
        <ErrorViewComponent />
    </NotAuthorized>
</AuthorizeView>

