
@page "/projects"

<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />

<h3>Proyectos</h3>

<Offcanvas @ref="offcanvas" />

<div>
    <div>
        <div class="mt-3 bg-success text-white bg-opacity-75">
            @message
        </div>
        <button class="btn btn-outline-success" @onclick="ShowEmployeeComponent">Crear Proyecto</button>
    </div>
        <InfiniteScrollProjects @ref="infiniteScrollProjects" />
</div>





@code {
    private Offcanvas offcanvas = default!;
    private InfiniteScrollProjects infiniteScrollProjects = default!;
    private string? message;
    List<ToastMessage> messages = new List<ToastMessage>();



    private async Task ShowEmployeeComponent()
    {
        // Crear un diccionario para pasar parámetros al componente AddProject
        var parameters = new Dictionary<string, object>
        {
            // Usar EventCallback.Factory.Create para crear un EventCallback para el método HandleProjectAdded
            { nameof(AddProject.OnAdded), EventCallback.Factory.Create(this, HandleProjectAdded) }
        };

        // Mostrar el componente AddProject dentro del Offcanvas
        // El primer parámetro es el título del Offcanvas
        // El segundo parámetro es el diccionario de parámetros que contiene el EventCallback
        await offcanvas.ShowAsync<AddProject>("Agregar Proyecto", parameters);
    }

    private async Task HandleProjectAdded()
    {
        // Solicitar al componente InfiniteScrollProjects que vuelva a cargar los datos
        if (infiniteScrollProjects != null)
        {

            await infiniteScrollProjects.RefreshProjectsAsync();
            await offcanvas.HideAsync();
            messages.Add(new()
                {
                    Message = "Proyecto Agregado",
                    Type = ToastType.Success
                });
                   }
    }

}