@page "/kanban"
@inject ProjectsDBContext db

<div class="row">
    @foreach (var Obj in ProjectLists)
    {
        <div class="col">
            <h3>@Obj.Key.StateName</h3>
            <SortableList TItem="Project"
                          Name="@($"{Obj.Key.StateName}")"
                          Data="@Obj.Value"
                          Context="project"
                          OnUpdate="args => OnProjectListUpdate(args, Obj.Key.StateId)"
                          OnRemove="args => OnProjectListRemove(args, Obj.Key.StateId)">
                <ItemTemplate>
                    @project.Title
                </ItemTemplate>
            </SortableList>
        </div>
    }
</div>


@code {
    public List<State> States { get; set; } = new();
    public Dictionary<State, List<Project>> ProjectLists { get; set; } = new();


    protected override void OnInitialized()
    {
        // Cargar estados
        States = db.States.ToList();

        // Inicializar el diccionario ProjectLists con listas vacías para cada estado
        foreach (var state in States)
        {
            ProjectLists[state] = GetProjectsByState(state.StateId); 
        }
    }

    private List<Project> GetProjectsByState(int stateId)
    {
        return db.Projects.Where(i => i.StateId == stateId).ToList();
    }

    private void OnProjectListUpdate(SortableListEventArgs args, int stateId)
    {

    }

    private void OnProjectListRemove(SortableListEventArgs args, int stateId)
    {
        var TargetState = States.FirstOrDefault(i => i.StateName == args.ToListName);
        var OriginState = States.FirstOrDefault(i => i.StateName == args.FromListName);
        var Item = ProjectLists.Where(i => i.Key == OriginState).FirstOrDefault().Value[args.OldIndex];
        ProjectLists.Where(i => i.Key == OriginState).FirstOrDefault().Value.Remove(Item);

    }
}
