@page "/offers"

<AuthorizeView>
    <Authorized>

        <h3>
            Ofertas
        </h3>
        <Tabs EnableFadeEffect="true">
            <Tab Title="Búsqueda" Active="true">
                <Content>
                    <div class="p-1">
                        <SearchOfferComponent />
                    </div>
                </Content>
            </Tab>
            <Tab Title="Todos" >
                <Content>
                    <div class="p-1">
                        <PaginationOfferComponent />
                    </div>
                </Content>
            </Tab>
        </Tabs>
    </Authorized>
    <NotAuthorized>
        <ErrorViewComponent />
    </NotAuthorized>
</AuthorizeView>
