 @page "/offers/{id}"
 @inject IDbContextFactory<ProjectsDBContext> DbContextFactory
@inject NavigationManager NAV;

<h3>Detalles de la Oferta</h3>

<OfferInfo offer="offer" />
@code {
    [Parameter]
    public string id { get; set; }

    private Offer offer;

    protected override async Task OnInitializedAsync()
    {
        var db = DbContextFactory.CreateDbContext();
        int.TryParse(id, out int _id);
        offer = db.Offers.FirstOrDefault(e => e.OfferId == _id);
        base.OnInitializedAsync();   
    }
}
