@inject IDbContextFactory<ProjectsDBContext> DbContextFactory

<h6>
    Monto Por Etapa @DateTime.Now.Year
</h6>
<BarChart @ref="barChart" />

@code {
    private BarChart barChart = default!;
    private BarChartOptions barChartOptions = default!;
    private ChartData chartData = default!;

    private async Task<List<string>> GetLabelsStatesAsync()
    {
        await using var db = await DbContextFactory.CreateDbContextAsync();
        // Obtener nombres de estados
        return await db.States.Select(w => w.StateName).ToListAsync();
    }

    private async Task<List<double?>> GetAmountsByStateAsync(List<string> states)
    {
        await using var db = await DbContextFactory.CreateDbContextAsync();

        // Obtener las sumas de amounts por estado directamente desde la base de datos
        var projectAmountsByState = await db.Projects
            .AsNoTracking()
            .Where(e => e.CreationDate.Year == DateTime.Now.Year && e.State != null)
            .GroupBy(p => p.State.StateName)
            .Select(g => new { StateName = g.Key, Amount = (double?)g.Sum(p => p.Amount) })
            .ToListAsync();

        // Crear un diccionario para facilitar la búsqueda de amounts por nombre de estado
        var projectAmountsDict = projectAmountsByState.ToDictionary(x => x.StateName, x => x.Amount);

        // Crear la lista de amounts basada en los nombres de estados
        var values = states.Select(state =>
            projectAmountsDict.TryGetValue(state, out var amount) ? amount : (double?)null
        ).ToList();

        return values;
    }

    protected override async Task OnInitializedAsync()
    {
        var labels = await GetLabelsStatesAsync();
        var datasets = new List<IChartDataset>();

        datasets.Add(
         new BarChartDataset()
             {
                 Data = await GetAmountsByStateAsync(labels), // Usar el método optimizado
                 BackgroundColor = new List<string> { ColorUtility.CategoricalTwelveColors[0] },
                 BorderColor = new List<string> { ColorUtility.CategoricalTwelveColors[0] },
                 BorderWidth = new List<double> { 0 },
             }
        );

        chartData = new ChartData { Labels = labels, Datasets = datasets };

        barChartOptions = new BarChartOptions
            {
                Responsive = true,
                Interaction = new Interaction { Mode = InteractionMode.Y },
                IndexAxis = "y",
                Scales = new Scales
                {
                    X = new ChartAxes
                    {
                        Title = new () { Text = "Monto", Display = true }
                    },
                    Y = new ChartAxes
                    {
                        Title = new () { Text = "Etapa", Display = true }
                    }
                }
            };
        barChartOptions.Scales.X.Stacked = true;
        barChartOptions.Scales.Y.Stacked = true;
        barChartOptions.Plugins.Title!.Text = "";
        barChartOptions.Plugins.Title.Display = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await barChart.InitializeAsync(chartData, barChartOptions);
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
