.calendar-container {
    max-width: auto;
    max-height: auto;
    margin: auto;
    font-family: sans-serif;

}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
}

.calendar-day-name {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.calendar-day {
    height: auto;
    padding: 0px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.calendar-day.today {
    background-color: #0078ff33;
    border-color: #0078ff;
    font-weight: bold;
}

.calendar-container {
    max-width: auto;
    margin: auto;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.calendar-day-name {
    text-align: center;
    font-weight: bold;
}

.calendar-day {
    border: 1px solid #ddd;
    min-height: 85px;
    padding: 3px;
    font-size: 14px;
    position: relative;
    background: #fafafa;
}

.today {
    background: #e0f2ff;
    border-color: #0094ff;
}

.day-number {
    font-weight: bold;
}
.schedules {
    padding: 2px;
    height: auto;
}

.schedule-item {
    background: #1e88e5;
    color: white;
    padding: 2px 2px;
    border-radius: 4px;
    font-size: 11px;
    margin-top: 2px;
}
